# Ignore CMake toolchain files
# These are system-specific and should not be tracked.
Toolchain-*.cmake

# Ignore build output
build/
build_avr/

# Ignore install directories
install*/

# Ignore directories used for CppUTest
cpputest*/
CppUTest*/
