# Ignore Cmake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Config.h
Makefile

# Ignore build output
build/
build_avr/
build_bbb/
install/
install_bbb/
install_avr/

# Ignore directories used for CppUTest
CppUTest/

# Ignore Sublime Text files
*.sublime-workspace
